:root{
    --color-blue-dark: #093581;
    --color-blue-ligh-dark: #1055A2;
    --color-blue: #257CC0;
    --color-blue-light: #48AEE7;
    --color-blue-ligh-2: #5ACBFE;
    --color-white: #ffffff;
    --color-black: #000000;
}


/* general style */
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.f-50{
    flex-basis: 50%;
}
.d-none{
    display: none!important;
}
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.p-0{
    padding: 0!important;
}
.bg-simple{
    background-color: #f7f7f7;
}
/* general style */


.gdlr-navigation-wrapper{ border-top-width: 4px; border-top-style: solid; }
.gdlr-navigation-wrapper .gdlr-navigation-container{ position: relative; }
.gdlr-navigation-wrapper .gdlr-navigation{ margin: 0px 15px; }
.gdlr-navigation-wrapper .gdlr-main-menu > li{ padding: 0px; display: flex; align-items: center;}
.gdlr-navigation-wrapper .gdlr-main-menu > li > a{ font-size: 12px; padding: 17px 25px 17px 20px; margin: 0px; 
	font-weight: bold; text-transform: uppercase; letter-spacing: 1px; }
.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul-pre,
.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul{ padding-right: 38px; }
.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul:after{ top: 26px; right: 19px; }

.gdlr-navigation-wrapper .gdlr-navigation-container{ position: relative; }

.gdlr-navigation-gimmick{ position: absolute; bottom: 0px; top: 0px; }

nav.gdlr-navigation.gdlr-align-left { text-align: left; }
nav.gdlr-navigation.gdlr-align-left #gdlr-menu-search-button{ float: right; }

nav.gdlr-navigation ul.sf-menu { text-align: left; display: inline-block; 
	float: none; line-height: 1.7; }

.gdlr-navigation-wrapper .gdlr-main-menu > li{ padding: 0px; display: flex;}
.gdlr-navigation-wrapper .gdlr-main-menu > li > a{ font-size: 12px; padding: 17px 25px 17px 20px; margin: 0px; 
	font-weight: bold; text-transform: uppercase; letter-spacing: 1px; }
.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul-pre,
.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul{ padding-right: 38px; }
.gdlr-navigation-wrapper .gdlr-main-menu > li > a.sf-with-ul:after{ top: 26px; right: 19px; }


.gdlr-header-wrapper{ background-color: #ffffff; }
.gdlr-navigation-wrapper{ background: var(--color-blue); }
.gdlr-navigation-wrapper{ border-top-color: var(--color-blue-dark); }
.gdlr-main-menu > li > a{ color: #ffffff; }
.gdlr-navigation-gimmick{ background-color: var(--color-blue-dark); }
.gdlr-main-menu > li:hover > a, .gdlr-main-menu > li.current-menu-item > a, .gdlr-main-menu > li.current-menu-ancestor > a{ color: #ffffff; }
.gdlr-custom-breadcrumbs, .gdlr-custom-breadcrumbs a{ color: var(--color-blue); }
.gdlr-custom-breadcrumbs a:hover{ color: var(--color-blue); }
#gdlr-menu-search-button{ background: var(--color-blue); }
#gdlr-menu-search-button{ color: #ffffff; }
#gdlr-menu-search{ background: var(--color-blue); }
#gdlr-menu-search input[type="text"]{ color: #ffffff; }
.gdlr-main-menu > .gdlr-normal-menu .sub-menu, .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ border-top-color: #dddddd; }
.gdlr-main-menu > .gdlr-normal-menu li , .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ background-color: #f1f1f1; }
.gdlr-main-menu > li > .sub-menu a, .gdlr-main-menu > li > .sf-mega a{ color: #575757; }
.gdlr-main-menu > li > .sub-menu a:hover, .gdlr-main-menu > li > .sub-menu .current-menu-item > a, .gdlr-main-menu > li > .sub-menu .current-menu-ancestor > a, .gdlr-main-menu > li > .sf-mega a:hover, .gdlr-main-menu > li > .sf-mega .current-menu-item > a, .gdlr-main-menu > li > .sf-mega .current-menu-ancestor > a{ color: #2d2d2d; } .gdlr-main-menu .gdlr-normal-menu li > a.sf-with-ul:after { border-left-color: #2d2d2d; } 
.gdlr-main-menu .sf-mega-section-inner > ul > li > a:hover, .gdlr-main-menu .sf-mega-section-inner > ul > li.current-menu-item > a { background-color: #e5e5e5; }

.gdlr-main-menu > li > .sub-menu *, .gdlr-main-menu > li > .sf-mega *{ border-color: #dddddd; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a { color: #2d2d2d; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a:hover, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-item > a, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-ancestor > a { color: #2d2d2d; }
#gdlr-responsive-navigation.dl-menuwrapper button { background-color: var(--color-blue); }
#gdlr-responsive-navigation.dl-menuwrapper button:hover, #gdlr-responsive-navigation.dl-menuwrapper button.dl-active, #gdlr-responsive-navigation.dl-menuwrapper ul{ background-color: var(--color-blue); }
.body-wrapper, .gdlr-single-lightbox-container{ background-color: #f9f9f9; }
.gdlr-page-title-wrapper{ background-color: #f7f7f7; }
.gdlr-page-title, .gdlr-page-title-gimmick{ color: #080c11; }
.gdlr-page-caption, .gdlr-blog-page-caption, .gdlr-blog-page-caption .blog-info a{ color: #afafaf; }
.gdlr-blog-page-caption-category .blog-info, .gdlr-blog-page-caption-category .blog-info i, .gdlr-blog-page-caption-category .blog-info a{ color: #cccccc; }
h1, h2, h3, h4, h5, h6, .gdlr-title, .gdlr-title a{ color: #454545; }
.gdlr-item-title-wrapper .gdlr-item-title{ color: #292929; border-color: #292929; }
.gdlr-item-title-divider{ border-color: #333333; }
.gdlr-item-title-wrapper.pos-blog-title .gdlr-item-title{ background-color: #e7e7e7; }
.gdlr-item-title-wrapper.pos-blog-title .gdlr-item-title a{ color: #212121; }
.gdlr-item-title-wrapper .gdlr-item-caption{ color: #9b9b9b; }

.container{max-width: 1110px; margin: auto;}

header.header nav{
    display: flex;
}
header.header nav ul{
    display: flex;
}
.top_header{
    padding: 20px 10px;
}
.top_header img{
    max-width: 350px;
}
.container_header{
    display: flex;
    justify-content: space-between;
}
.menu_search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.open_search{
}
.open_search i{
    color: var(--color-white);
    font-size: 1.2em;
    cursor: pointer;
}
.drop_search{
    position: absolute;
    top: 100%;
    right: 0;
    height: 0;
    background-color: var(--color-blue);
    padding: 0px 20px;
    transition: all .16s;
    overflow: hidden;
}
.open_search{
    height: auto;
    padding: 20px;
    z-index: 1;
}
.drop_search input{
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--color-white);
}
.drop_search input::placeholder{
    color: var(--color-white);
}

.section_dest{
    padding: 50px 10px;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/05/53/hot-air-balloon-1867656_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_big{
    width: 100%;
    height: 380px;
    position: relative;
}
.card_big .card_big_head{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.card_big img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_min{
    flex-basis: calc(50% - 20px);
    height: calc((380px / 2) - 5px);
    margin: 0 10px 10px 10px;
    position: relative;
}
.card_min .card_min_head{
    position: absolute;
    left: 5px;
    top: 5px;
}
.card_min img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_default{
    padding: 40px 10px;
}
.title_default{
    color: #222222;
    font-size: 1.8em;
    font-weight: 500;
}
.title_default small{
    font-size: 16px;
    font-weight: 300;
}
.list_post_default{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 60px;
}
.card_default{
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #dddddd;
    background-color: var(--color-white);
    padding-bottom: 25px;
}

.card_default h3{
    font-size: 1em;
    text-align: left;
    font-weight: 500;
    color: var(--color-black);
    margin: 10px auto
}
.card_default_info{
    padding: 10px;
}
.card_default_re{
    text-align: center;
}
.card_default_re a{
    color: var(--color-blue-ligh-2);
}
.card_default_link_img{
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    transition: all .23s;
}
.card_default_link_img img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.card_default_link_img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all .23s;
}
.card_default_link_img:hover::before{
    content: "\2192";
    font-size: 2em;
    font-weight: 600;
    position: absolute;
    justify-content: center;
    background-color: rgba(10, 10, 10, .5);
    color: var(--color-white);
    transition: all .3s;
}


/* footer */
footer.footer{
    background-color:#222222;
    border-top: 3px solid var(--color-blue-light);
}
.footer_content{
    display: flex;
    flex-wrap: wrap;
    padding: 60px 10px;
}
.footer_info{
    flex-basis: 70%;
    padding-right: 20px;
}
.footer_header h3{
    color: var(--color-white);
    font-weight: 500;
    margin-bottom: 30px;
}
.footer_info p{
    color: var(--color-white);
    font-size: .95em;
    line-height: 1.5em;
}
.footer_logo{
    flex-basis: 30%;
    padding: 10px;
    color: var(--color-white);
}
.footer_logo img{
    width: 100%;
}
.footer_header{
    width: 100%;
    padding: 20px 0 10px;
}
hr.line{
    background-color: var(--color-white);
    border: none;
    width: 100%;
    height: 1px;
    margin: 10px auto;
}
.footer_logo p{
    padding: 10px 0 20px;
    font-size: .9em;
}
/* footer */



.body_default{
    padding: 20px 0 60px;
}
.header_simple{
    padding: 15px 10px;
    border-bottom: 1px solid #dddddd;
}
.path_info{
    color: var(--color-blue);
    font-size: .9em;
}
.body_default{
    display: flex;
    flex-wrap: wrap;
}
.list_simple{
    flex-basis: 66%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.card_simple{
    flex-basis: calc(50% - 20px);
    margin: 10px 10px 20px;
}
.card_simple img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card_simple h3{
    font-size: 1em;
    text-align: left;
    font-weight: 700;
    color: var(--color-black);
    margin: 15px auto
}
.card_simple p{
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 10px;
    color: #808080;
}
.read_more_simple{
    color: var(--color-blue-dark);
    text-transform: uppercase;
    font-size: .875em;
    font-weight: 500;
}
.read_more_simple::after{
    content: " \25B8";
    margin-left: 5px;
}
.read_more_simple:hover{
    color: var(--color-black);
}

.sidebar{
    flex-basis: 33%;
    height: 100%;
    padding: 10px 10px 10px 20px;
    display: block;
}
.tags_cloud{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.tags_cloud a{
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 6px 10px;
    text-transform: uppercase;
    display: block;
    margin: 5px auto;
    font-size: .9em;
    width: auto;
    float: left;
    transition: all .12s;
}
.tags_cloud a:hover{
    background-color: var(--color-blue-light);
}

.title_bg{
    width: 100%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-blue-ligh-dark);
    margin: 20px 0;
    font-weight: 500;
    font-size: 1em;
    display: block;
}

.cat_list{
    list-style: none;
    margin-left: 10px;
}
.cat_list a{
    color: var(--color-blue-dark);
    line-height: 2em;
}
.cat_list a:hover{
    color: var(--color-blue-ligh-dark);
}
.cat_list a::before{
    content: ">";
    margin-right: 10px;
}

.search_sidebar{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.over_form{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background-color: #f5f5f5;
    border-radius: 3px;
}
.over_form input{
    width: 90%;
    background-color: transparent;
    outline: none;
    padding: 2px;
    border: none;
}
.over_form button{
    width: 10%;
    background-color: transparent;
    border: none;
    color: var(--color-blue-ligh-dark);
    font-size: 1.2em;
    cursor: pointer;
}
.over_form input[type="search"]::-webkit-search-decoration,
.over_form input[type="search"]::-webkit-search-cancel-button,
.over_form input[type="search"]::-webkit-search-results-button,
.over_form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.p_post{
    padding: 5px 10px 5px 15px;
}
.p_over{
    background-color: transparent;
    width: 100%;
}
.title_post_over h3{
    font-size: .9em;
    color: #b0b0b0;
    padding: 0 0 10px 15px;
}




/* post style */
.content_post h3{
    font-weight: bold;
    margin: 15px auto 25px
}
.content_post p, .content_post ul{
    color: #454545;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.content_post ul{
    margin-left: 30px;
    margin-bottom: 20px;
}
.content_post_bottom{
    width: 100%;
    height: 40px;
    background-color: #e9e9e9;
}
.apply_job{
    color: var(--color-blue-dark);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    margin: 20px 0 30px;
    display: block;
    transition: all .23s;
}
.apply_job:hover{
    color: var(--color-blue);
}
/* post style */